body {
  background:rgb(232, 210, 210);
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

.btn-button {
  padding: 13px;
  border: none;
  background: rgb(228, 127, 127);
  color: #ffffff;
  text-transform: uppercase;
}

.btn {
  color: blueviolet;
  background: none;
  border: none;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
}

